<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test page</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<script src="js/angular.min.js"></script>
<script src="js/script.js"></script>
<div class="container" ng-app="GalleryApp" ng-controller="GalleryCtrl">
  <div class="gallery" ng-if="grid==true">
    <div class="sidebar" ng-if="sidebar==true">
      <h1>
    Gallary on ng
    </h1>
      <p>
        *Gallery without media-queries
        <br> *With top and side items
        <br> *On-click fullscreen scaling
        <br>
      </p>
    </div>
    <div class="wrapper" resize>
      <div class="top-menu">
        top-menu
      </div>
      <div id='gallery' class="gallery">
        <div class="thumbnail" ng-repeat="image in images" ng-style="imagesize" ng-click="open_image(image)">
          <img ng-src="{{image}}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery" ng-if="grid==false">
    <div class="fullscreen_image">
      <img ng-src="{{fullscreen_img}}"/>
    </div>
    <div class="close" ng-click="close_image()">(x)Close</div>
  </div>
</div>
	
</body>
</html>
